body {
  width: 300px;
  padding: 15px;
  font-family: Arial;
  overflow-y: scroll;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  gap: 10px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 24px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.switch_container {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  gap: 10px;
  align-items: center;
}

.switch_container__title {
  display: block;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #ccc;
  transition: 0.4s;
  border-radius: 24px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background: #4caf50;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.status {
  margin-top: 10px;
  font-size: 12px;
  align-self: flex-start;
}

.folder {
  color: #232332;
  border: 1px solid #e1ebf0;
  max-width: 100%;
  width: 100%;
  height: 40px;
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  border-radius: 6px;
  transition: all 0.1s;
  position: relative;
}

.folder:hover {
  cursor: pointer;
  color: #fff;
  background: #785fd7;
}

.folder__drag {
  transform: rotate(90deg);
  cursor: grab;
  opacity: 0.5;
  transition: opacity 0.2s;
}

.folder__drag:hover {
  opacity: 1;
}

.folder__text {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.folder__text:focus {
  border: none;
  outline: none;
}

.folders__data {
  border: 2px solid #b49bfa;
  background-color: #fff;
  color: #232332;
  width: 100%;
  min-width: 100%;
  max-width: 368px;
  border-radius: 8px;
  padding: 8px;
  box-sizing: border-box;
  overflow-y: scroll;
  display: flex;
  flex-flow: column nowrap;
  gap: 10px;
  flex-shrink: 0;
}

.folders__data::-webkit-scrollbar {
  display: none;
  width: 0;
}

.popup_folders {
  width: 100%;
}

.folder.dragging {
  opacity: 0.5;
  transform: scale(0.98);
  transition:
    opacity 0.2s,
    transform 0.2s;
}

.folder.drag-over {
  border: 2px dashed #007bff !important;
  border-radius: 6px;
  background-color: rgba(0, 123, 255, 0.05);
  transition: all 0.2s ease;
}
